/* the content area of the site */
#content-container {
  text-align: center;
}

#content-container > * {
  margin-bottom: 45px;
}

tr,
td,
th {
  height: 60px;
  text-align: center;
}

/* orders table related */
#customers-table-body > tr:hover {
  cursor: pointer;
  background-color: var(--selection);
}

/* dialog related */
#dialog-container {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#dialog-backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  left: 0;
  top: 0;
  z-index: 1;
}

#dialog {
  border: var(--border);
  border-radius: 6px;
  padding: 10px 30px;
  background-color: var(--background-alt);
  width: 50vw;
  max-width: 900px;
  z-index: 2;
}

#dialog-title {
  text-align: center;
  margin: 10px 0 20px 0;
}

#dialog-actions {
  margin-top: 35px;
  text-align: center;
}

textarea {
  resize: none;
}

#dialog input,
#dialog textarea,
#dialog select {
  width: 100%;
}
